<template>
    <div class="container">
        <div class="e-circle" v-if="searching">
            <Spinner name="circle" color="green"/>
        </div>

        <div class="alert alert-danger" role="alert" v-else-if="searching === false && houses.length === 0">Data is empty</div>

        <table class="table table-hover text-center" >
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Bedrooms</th>
                    <th scope="col">Bathrooms</th>
                    <th scope="col">Storeys</th>
                    <th scope="col">Garages</th>
                </tr>
            </thead>
            <tbody>
                <tr scope='row' v-for="record in houses">
                    <td>{{record.Name}}</td>
                    <td>{{record.Price}}</td>
                    <td>{{record.Bedrooms}}</td>
                    <td>{{record.Bathrooms}}</td>
                    <td>{{record.Storeys}}</td>
                    <td>{{record.Garages}}</td>
                </tr>
            </tbody>
        </table>

        <div class="row text-center">
            <div class="col-md-12">
                <h3>Filters</h3>
            </div>
        </div>

        <div class="row vertical-align text-center">
            <div class="col-md-2">
                <div class="filter">
                    <div class="form-group">
                        <label for="filter-name">Name</label>
                        <input type="text" v-model="filter.Name" class="form-control" id="filter-name" placeholder="Filter by name..">
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="filter">
                    <div class="form-group">
                        <label for="filter-price-min">Price min</label>
                        <input type="number" v-model="filter.Price.min" class="form-control" id="filter-price-min" placeholder="Filter by price..">
                        <label for="filter-price-max">Price max</label>
                        <input type="number" v-model="filter.Price.max" class="form-control" id="filter-price-max" placeholder="Filter by price..">
                    </div>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <div class="filter">
                    <div class="form-group">
                        <label for="filter-bedrooms">Bedrooms</label>
                        <input type="number" v-model="filter.Bedrooms" class="form-control" id="filter-bedrooms" placeholder="Filter by bedrooms..">
                    </div>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <div class="filter">
                    <div class="form-group">
                        <label for="filter-bathrooms">Bathrooms</label>
                        <input type="number" v-model="filter.Bathrooms" class="form-control" id="filter-bathrooms" placeholder="Filter by bathrooms..">
                    </div>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <div class="filter">
                    <div class="form-group">
                        <label for="filter-storeys">Storeys</label>
                        <input type="number" v-model="filter.Storeys" class="form-control" id="filter-storeys" placeholder="Filter by storeys..">
                    </div>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <div class="filter">
                    <div class="form-group">
                        <label for="filter-garages">Garages</label>
                        <input type="number" v-model="filter.Garages" class="form-control" id="filter-garages" placeholder="Filter by garages..">
                    </div>
                </div>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-md-12">
                <button class="btn btn-primary ql-submit" @click="fetchAll">Use filter</button>
            </div>
        </div>

    </div>

</template>

<script>
    import Spinner from 'vue-spinkit'

    export default {
        components: {
            Spinner
        },
        data () {
            return {
                searching: true,
                houses: [],
                filter: {
                    Name: '',
                    Price: {
                        min: '',
                        max: ''
                    },
                    Bedrooms: '',
                    Bathrooms: '',
                    Storeys: '',
                    Garages: ''
                }
            }
        },
        methods: {
            fetchAll() {
                let _this = this;
                _this.searching = true;

                window.axios.get('/api/houses', {
                    params: _this.filter
                }).then(function($responce) {
                    _this.houses = $responce.data;
                    _this.searching = false;
                }).catch(function() {
                    _this.searching = false;
                });
            }
        },
        created() {
            this.fetchAll();
        }
    }
</script>

<style scoped>
    .container {
        padding-top: 20px;
    }

    .e-circle {
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -50px;
        margin-left: -100px;
    }

    label {
        margin: 20px 0 0 0;
    }

    .vertical-align {
        display: flex;
        align-items: center;
    }
</style>
